.ativo{
    color: blue;
    font-style: bold;
}
.inativo{
    color: red;

}
.botao1{
    margin-left: 50px;
}

.botao2{
    margin-left: 35px;
    margin-right: 50px;
    height: 25px;
    width: 25px;
}

li{
    margin-left: 15px;
}